#container {
  width: 400px;
  height: 400px;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.cell {
  background-color: white;
}

#clear-button {
  display: block;
  margin-top: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
